
div.second-layer,
div.user-detail {
  width: 35vw;
  height: 98vh;
  top: 1vh;
  left: 64.5vw;
  position: absolute;
  border-width: 0px;

  border-radius: 10px;

  opacity: 1;
  transition: opacity .4s ease-in-out;
}

div.second-layer{
  z-index: 10;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
}

.profile-img-container {
  width: 14vw;
  height: 14vw;
  overflow: hidden;
}

div.hidden {
  opacity: 0;
}

.name-container {
  height: 14vw;
  text-align: center;
}

.close-btn {
  top: 3px;
  left: 3px;
  position: absolute;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
